@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap");
.preloader-container {
  height: 100vh;
  width: 100%;
  background: #101010;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.preloader-container .preloader {
  border: 5px solid #aaaaaa;
  border-top: 5px solid transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 500ms linear infinite;
          animation: spin 500ms linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Oswald', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  background: #101010;
  color: #ddd;
  scroll-behavior: smooth;
}

body a {
  text-decoration: none;
  color: currentColor;
  -webkit-transition: .25 ease;
  transition: .25 ease;
}

body a:hover {
  opacity: .8;
}

body footer {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body::-webkit-scrollbar {
  display: none;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  height: 3rem;
  position: fixed;
}

.header .nav {
  padding: 0 5%;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .nav .logo {
  margin-right: auto;
}

.header .nav .logo img {
  width: 50px;
  height: auto;
}

.header .nav .theme {
  margin-right: 30px;
  font-size: 2rem;
}

.header .nav .burger {
  z-index: 2;
  width: 30px;
  height: 30px;
  position: relative;
}

.header .nav .burger .line {
  position: absolute;
  top: 16px;
  height: 3px;
  width: 30px;
  background: currentColor;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.header .nav .burger .line::before {
  content: "";
  position: absolute;
  top: -8px;
  height: 3px;
  width: 30px;
  background: currentColor;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.header .nav .burger .line::after {
  content: "";
  position: absolute;
  top: 8px;
  height: 3px;
  width: 30px;
  background: currentColor;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.header .nav .burger .line.open {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background: transparent;
}

.header .nav .burger .line.open::before {
  -webkit-transform: rotate(45deg) translate(4px, 8px);
          transform: rotate(45deg) translate(4px, 8px);
}

.header .nav .burger .line.open::after {
  -webkit-transform: rotate(-45deg) translate(4px, -8px);
          transform: rotate(-45deg) translate(4px, -8px);
}

#home, #projects, #about {
  min-height: 100vh;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  padding: 0 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#home .main-text, #projects .main-text, #about .main-text {
  padding: 50px 0;
}

#home h1, #projects h1, #about h1 {
  font-size: 4rem;
}

#home p, #projects p, #about p {
  text-transform: none;
  font-size: 1.2rem;
}

#home .main-buttons-container, #projects .main-buttons-container, #about .main-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 40%;
}

#home .proj-one, #home .proj-two, #home .proj-three, #projects .proj-one, #projects .proj-two, #projects .proj-three, #about .proj-one, #about .proj-two, #about .proj-three {
  cursor: pointer;
  margin-top: 40px;
}

#home .proj-one img, #home .proj-two img, #home .proj-three img, #projects .proj-one img, #projects .proj-two img, #projects .proj-three img, #about .proj-one img, #about .proj-two img, #about .proj-three img {
  width: 70%;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  pointer-events: none;
}

#home .proj-one:hover h1, #home .proj-two:hover h1, #home .proj-three:hover h1, #projects .proj-one:hover h1, #projects .proj-two:hover h1, #projects .proj-three:hover h1, #about .proj-one:hover h1, #about .proj-two:hover h1, #about .proj-three:hover h1 {
  opacity: .5;
}

#home .proj-one:hover img, #home .proj-two:hover img, #home .proj-three:hover img, #projects .proj-one:hover img, #projects .proj-two:hover img, #projects .proj-three:hover img, #about .proj-one:hover img, #about .proj-two:hover img, #about .proj-three:hover img {
  visibility: visible;
  opacity: 1;
}

#home .about-container, #projects .about-container, #about .about-container {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#home .about-container img, #projects .about-container img, #about .about-container img {
  height: 150px;
  border-radius: 50%;
}

#home .about-container .about-details, #projects .about-container .about-details, #about .about-container .about-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#home .about-container .about-details .overview, #home .about-container .about-details .tools, #projects .about-container .about-details .overview, #projects .about-container .about-details .tools, #about .about-container .about-details .overview, #about .about-container .about-details .tools {
  width: 50%;
}

#home .about-container .about-details .overview p, #home .about-container .about-details .tools p, #projects .about-container .about-details .overview p, #projects .about-container .about-details .tools p, #about .about-container .about-details .overview p, #about .about-container .about-details .tools p {
  text-transform: none;
  line-height: 1.6;
}

#home .about-container .about-details .tools, #projects .about-container .about-details .tools, #about .about-container .about-details .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#home .about-container .about-details .tools ul, #projects .about-container .about-details .tools ul, #about .about-container .about-details .tools ul {
  list-style: none;
  text-align: left;
}

#home .about-container .about-details .tools ul li, #projects .about-container .about-details .tools ul li, #about .about-container .about-details .tools ul li {
  text-align: right;
  font-size: 1.2rem;
}

@media (orientation: portrait) {
  #home, #projects, #about {
    padding: 0 10%;
  }
  #home .about-container .about-details, #projects .about-container .about-details, #about .about-container .about-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #home .about-container .about-details .overview, #home .about-container .about-details .tools, #projects .about-container .about-details .overview, #projects .about-container .about-details .tools, #about .about-container .about-details .overview, #about .about-container .about-details .tools {
    width: 100%;
  }
}

.menu-container {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #101010;
  position: fixed;
  -webkit-clip-path: circle(0% at 100% -10%);
          clip-path: circle(0% at 100% -10%);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu-container.open {
  -webkit-clip-path: circle(150% at 100% -10%);
          clip-path: circle(150% at 100% -10%);
}

.menu-container .menu {
  padding: 5%;
  height: 100vh;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 2rem;
  font-weight: 700;
}

.menu-container .port {
  padding: 5%;
  height: 100vh;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: .7;
}

.menu-container .port .links {
  margin-top: 20px;
}

.menu-container .port .links a {
  margin-right: 10px;
}
/*# sourceMappingURL=style.css.map */