@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html[data-theme='dark']{
    --bg-color:  #101010;
    --text-color:  #ddd;
}

html{
    --bg-color:  #ffffff;
    --text-color:  #101010;
}



body{
    font-family: -apple-system, BlinkMacSystemFont, 'Oswald', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    text-transform: uppercase;
    background: var(--bg-color);
    color: var(--text-color);
    scroll-behavior: smooth;
    transition: background .25s ease, color .5s ease;
    
    a{
        text-decoration: none;
        color: currentColor;
        transition: .25 ease;
        &:hover{
            opacity: .8;
        }
    }

    footer{
        height: 3rem;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    &::-webkit-scrollbar{
        display: none;
    }
}
