#home, #projects, #about{
    min-height: 100vh;
    height: max-content;
    width: 100%;
    padding: 0 20%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    .main-text{
        padding: 50px 0;
    }

    h1{
        font-size: 4rem;
    }

    p{
        text-transform: none;
        font-size: 1.2rem;
    }


    .main-buttons-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 40%;
    }

    .proj{
        margin: 40px 0;
        height: max-content;
        transition: all 250ms ease;
        .details{
            cursor: pointer;
            h1, small{
                text-shadow: 5px 5px 10px #000000;
            }
        }
        .dropdown{
            pointer-events: none;
            img{
                opacity: 0;
                width: 40vw;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: all .5s ease-in-out;
                z-index: -1;
            }
        }
        &:hover .dropdown img{
            opacity: 1;
        }
    }

    .about-container{
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        img{
            height: 150px;
            border-radius: 50%;
        }

        .about-details{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: row;

            .overview, .tools{
                width: 50%;

                p{
                    text-transform: none;
                    line-height: 1.6;
                }
            }

            .tools{
                display: flex;
                align-items: flex-end;
                justify-content: center;
                flex-direction: column;

                ul{
                    list-style: none;
                    text-align: left;
                    li{
                        text-align: right;
                        font-size: 1.2rem;
                    }
                }
            }
        }
        
    }

}


@media (orientation: portrait){
    #home, #projects, #about{
        padding: 0 10%;

        .about-container{
            .about-details{
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                .overview, .tools{
                    width: 100%;
                }
            }
        }
        
    }
    
}