#home, #projects, #about{
    min-height: 100vh;
    height: max-content;
    width: 100%;
    padding: 0 20%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    .main-text{
        padding: 50px 0;
    }

    h1{
        font-size: 4rem;
    }

    p{
        text-transform: none;
        font-size: 1.2rem;
    }


    .main-buttons-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 40%;
    }

    .proj-one, .proj-two, .proj-three{
        margin-top: 40px;
        height: 15vh;
        transition: all 250ms ease;

        .details{
            cursor: pointer;
        }
        
        .dropdown{
            display: none;
            pointer-events: none;
            img{
                width: 40vw;
            }
        }

        

        &:hover{
            height: 70vh;
        }

        &:hover .dropdown{
            display: block;
        }
    }

    .about-container{
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        img{
            height: 150px;
            border-radius: 50%;
        }

        .about-details{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: row;

            .overview, .tools{
                width: 50%;

                p{
                    text-transform: none;
                    line-height: 1.6;
                }
            }

            .tools{
                display: flex;
                align-items: flex-end;
                justify-content: center;
                flex-direction: column;

                ul{
                    list-style: none;
                    text-align: left;
                    li{
                        text-align: right;
                        font-size: 1.2rem;
                    }
                }
            }
        }
        
    }

}








@media (orientation: portrait){
    #home, #projects, #about{
        padding: 0 10%;

        .about-container{
            .about-details{
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                .overview, .tools{
                    width: 100%;
                }
            }
        }
        
    }
    
}